extends layout

block content
	script(src='/javascripts/qr.js')
	script
		window.onload = function() {
			var url = QRCode.generatePNG('{"url":"#{hostname}","lecture":"#{lecture.name}"}', {ecclevel : "M"});
			$("#output").attr('src', url);
		}
	.row
		.span3
			h1 #{lecture.name}
				
			p #{lecture.description}
			p
				if (lecture.isActive)
					a(href='/kill/'+lecture._id) Stop
				else 
					a(href='/start/'+lecture._id) Start
			button.btn.btn-danger(id='clearData', meta=lecture._id) Clear All Data
		.span2
			img#output(width='170', height='170')

		.span7
			h4 Information
			table.table.table-bordered.table-hover
				tbody
					tr(class=status)
						td Status
						if (lecture.isActive)
							td Online
						else 
							td Offline
					tr(class=stream_status)
						td Streaming Server
						td= stream_host
	.row
		.span5
			h3 
				| Connected Clients 
				span.muted #{clients.length}
			if(clients.length > 0)
				table.table.table-bordered.table-hover
					thead
						tr
							td Client
							td UID
					tbody
					each client in clients
						tr
							td= client.name
							td= client.id
			else
				h4.muted No Clients Connected
